* {
  margin: 0;
  padding: 0;
}

.fotofundo {
  background-image: url("fundo.gif");
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: fixed;
  display: flex;
  justify-content: center;
}
.container {
  margin-top: 120px;
  display: flex;
  height: 80vh;
  top: 150px;
  width: 93%;
  color: white;
  backdrop-filter: blur(50px);
  border: 2px solid white;
}
.textopagina {
  padding: 5px;
  z-index: -1;
  font-size: 20px;
  font-family: verdana;
}

.titulo {
  z-index: 20;
  align-items: center;
  gap: 80px;
  display: flex;
  border: 3px solid black;
  color: white;
  left: 0px;
  top: 0px;
  background-color: #1a1a1a;
  width: 100%;
  height: 100px;
  position: fixed;
}
.titulotexto {
  gap: 10px;
  flex-direction: row;
  display: flex;
  width: 480px;
  font-weight: bold;
  font-size: 50px;
}
.iconesite {
  cursor: pointer;
  width: 70px;
  height: 70px;
}
.botaousuario {
  margin-right: 20px;
  border-radius: 50px;
  cursor: pointer;
  width: 100px;
  height: 100px;
  transition-duration: 0.5s;
  border: 2px solid black;
  overflow: hidden;
}
.imagemusuario {
  width: 100%;
  height: 100%;
}
.botaousuario:hover {
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 30px 5px #ffffff;
}
.botaoheader {
  gap: 20px;
  display: flex;
  width: 500px;
  height: 100px;
}
form {
  gap: 10px;
  align-items: center;
  display: flex;
  height: 80px;
  width: 280px;
}
form .input-pesquisa {
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
  width: 300px;
  height: 40px;
}
form .input-pesquisa::placeholder {
  font-size: 20px;
  color: white;
}
form .input-envia {
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid white;
  color: white;
  background: transparent;
  width: 65px;
  height: 43px;
}
form .input-envia:hover {
  color: black;
  background-color: white;
  border: 2px solid black;
}
.about {
  cursor: pointer;
  border: none;
  background-color: #1a1a1a;
  width: 100px;
  height: 100px;
  transition: 0.7s;
}
.about:hover {
  text-decoration: underline;
  color: black;
  background-color: white;
  font-size: 16px;
}
.about:hover i {
  color: black;
}
.services {
  cursor: pointer;
  border: none;
  background-color: #1a1a1a;
  width: 100px;
  height: 100px;
  transition: 0.7s;
}
.services:hover {
  text-decoration: underline;
  color: black;
  background-color: white;
  font-size: 16px;
  border: 1px solid white;
}
.services:hover i {
  color: black;
}
.contact {
  cursor: pointer;
  border: none;
  background-color: #1a1a1a;
  width: 100px;
  height: 100px;
  transition: 0.7s;
}
.contact:hover {
  text-decoration: underline;
  color: black;
  background-color: white;
  font-size: 16px;
  border: 1px solid white;
}
.contact:hover i {
  color: black;
}
.clients {
  cursor: pointer;
  border: none;
  background-color: #1a1a1a;
  width: 100px;
  height: 100px;
  transition: 0.7s;
}
.clients:hover {
  text-decoration: underline;
  background-color: white;
  border: 1px solid white;
}
.clients:hover i {
  color: black;
}
i {
  color: white;
  font-size: 35px;
}
span {
  font-size: 20px;
}
i {
  color: white;
  font-size: 35px;
}
